<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']"class="brand-logo">JAANartc</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/register']">Register</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>
    <ul class="sidenav" id="mobile-demo" #sideNav>
      <li routerLinkActive="active"><a [routerLink]="['/register']">Register</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
    </ul>
  </div>
</nav>